<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<footer>
    <div class="sm-icons">
        <p id="About">
            <a href="https://twitter.com/bettercallgopal" target="_blank"><i
                    class="fic fa-brands fa-twitter if"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100067485754453" target="_blank"><i
                    class="fic fa-brands fa-facebook if"></i></a>
            <a href="https://www.instagram.com/bettercallgopal/" target="_blank"><i
                    class="fa-brands fa-instagram if"></i></a>
            <a href="https://www.linkedin.com/in/gopal-verma-a99b001b0/" target="_blank"><i
                    class="fa-brands fa-linkedin if"></i></a>
            <a href="https://github.com/GopalVerma1303" target="_blank"><i
                    class="fa-brands fa-github if"></i></a>
        </p>
        <p>Made with ❤️ by Gopal Verma</p>
    </div>
</footer>