<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/aabf4ff028.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuícktícK </title>
  <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<html>
<section id="intro-of-the-page" style="margin-bottom: -4%;">
  <div class="row heading">
    <div class="col-12 mt-3 mb-1">
      <h1 style="font-size: 83%;">QuícktícK</h1>
      <p class="p-signin"style="font-size: 30%;">"Ab kuch nahi bhuloge."</p>
    </div>
  </div>
</section>

<body style="text-align: center;">
  <div class="col-sm-8 col-md-6 col-lg-4 card align-self-center signin-card" style="margin: auto auto;">
    <form action="/" method="POST" class="signin_form" style="padding: 10%;">
      <!-- user input-->
      Username:<br><br>
      <input type="text" name="username" placeholder="Enter username" required autocomplete="off"
        style=" text-align: center;" class="form-control form-control-sm form-control-borderless newListItem" spellcheck="false"><br><br>
      <input type="submit" value="Login" class="btn btn-block" style="margin-top: -6%;">
    </form>
  </div>
</body>

</html>
<%- include('./partials/footer'); -%>